body{
  background-color: rgb(12, 12, 12);
  margin-left: 10%;
  margin-right: 10%;
}
li{
  display: flex;
}
ul{
  list-style: none;
  padding: 20px;
  padding-left: 0;
  font-size: 1.2em;
}

a{
  text-decoration: none;
  transition-duration: 0.5s;
}
a:hover{
  color: rgb(255, 0, 0);
}

.apresentation{
  display: flex;
}
.apresentation img{
  position: relative;
  height: 400px;
  top: 15%;
  right: -18%;  
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-name: imganimate;
  animation-timing-function: ease-in-out;
  filter: grayscale(100%);
  transition-duration: 0.5s;
}

.apresentation img:hover{
  filter: grayscale(0%);
}

@keyframes imganimate{
  0%{
    top: 15%;
  }
  50%{
    top: 20%;
  }
  100%{
    top: 15%;
  }
}

.apresentation h1{
  position: relative;
  margin-top: 20%;
  font-weight: 800;
  width: 500px;
  font-size: 2em;
}

.about-me{
  margin-top: 30%;
}

.about-me h1{
  text-align: center;
  font-weight: 700;
  margin-bottom: 2%;
}

.box{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 830px;
  border: 3px solid red;
  border-top-left-radius: 30px; 
  border-top-right-radius: 10px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
  box-shadow: 0px 0px 25px rgba(255, 0, 0, 0.705),inset 0px 0px 8px red;

}

.box h3{
  text-align: center;
  padding: 10px;
}

.tecnologies{
  margin-top: 30%;
}

.tecnologies section{
  display: flex;
  flex-wrap: wrap;
  width: 85vw;
}

.tecnologies h1{
  text-align: center;
  font-weight: 700;
}

.tecnologies img{
  padding: 8px;
}

.tecnologies div{
  background-color: rgb(41, 41, 41);
  height: 190px;
  width: 150px;
  display: flex;
  flex-direction: column;
  margin: 15px;
  text-align: center;
  font-size: 1.3em;
  border-radius: 5px;
  border: 2px solid transparent;
}

.tecnologies div:hover{
  border: 2px solid red;
}

.html .css .javascript .reactjs .nodejs .mysql .mongodb{
  align-items: center;
}

.services{
  margin-top: 5%;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.container-services{
  margin-top: 3%;
  display: flex;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container-services div{
  margin: 10px;
}

.ux{
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-image: linear-gradient(-45deg, red, rgb(204, 0, 255));
  align-items: center;
  border-radius: 10px;
}

.ux h2{
  color: black;
  height: 35px;
  text-align: center;
  background-color: white;
  width: 190px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.ux p{
  font-size: 1.4em;
  text-align: center;
  padding: 7px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.705);
}

.development{
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-image: linear-gradient(-45deg, rgb(255, 94, 0), rgb(255, 60, 0));
  align-items: center;
  border-radius: 10px;
}

.development h2{
  color: black;
  height: 35px;
  text-align: center;
  background-color: white;
  width: 220px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.development p{
  font-size: 1.4em;
  text-align: center;
  padding: 7px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.705);
}

.uxAndDevelopment{
  width: 250px;
  height: 280px;
  display: flex;
  flex-direction: column;
  background-color: transparent;
  background-image: linear-gradient(-45deg, rgb(0, 225, 255), rgb(0, 102, 255));
  align-items: center;
  border-radius: 10px;
}

.uxAndDevelopment h2{
  color: black;
  height: 60px;
  text-align: center;
  background-color: white;
  width: 220px;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 13px;
}

.uxAndDevelopment p{
  font-size: 1.4em;
  text-align: center;
  padding: 7px;
  text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.705);
}

@media screen and (max-width: 1260px){
  .apresentation img{
    right: -11%;
  }
}

@media screen and (max-width: 1000px){
  .apresentation img{
    right: -3%;
  }
}

@media screen and (max-width: 850px){
  .box{
    width: 650px;
  }
  .tecnologies{
    margin-top: 45%;
  }
  .tecnologies div{
    width: 100px;
    height: 140px;
    font-size: 1em;
  }
  .container-services{
    display: flex;
    flex-wrap: wrap;
  }
  .container-services div{
    width: 210px;
    height: 240px;
    left: -50%;
    transform: translateX(50%);
  }
  .container-services h2{
    font-size: 1.3em;
    width: 185px;
    height: 30px;
  }
  .uxAndDevelopment h2{
    height: 50px;
  }
  .container-services p{
    font-size: 1.2em;
  }

}

@media screen and (max-width: 650px){
  .apresentation img{
    height: 250px;
  }
  .apresentation h1{
    font-size: 1.4em;
  }
  .about-me h1{
    font-size: 1.2em;
  }
  .tecnologies h1{
    font-size: 1.2em;
  }
  .box{
    width: 450px;
    font-size: 0.7em;
  }
  .services h1{
    font-size: 1.2em;
  }
  .container-services div{
    width: 150px;
    height: 170px;
  }
  .container-services h2{
    font-size: 0.8em;
    width: 130px;
    height: 20px;
  }
  .uxAndDevelopment h2{
    height: 40px; 
  }
  .container-services p{
    font-size: 0.8em;
  }
  .container-services{
    display: flex;
    flex-wrap: wrap;
    left: 50%;
    transform: translateX(-50%);
  }
}

@media screen and (max-width: 450px){
  .apresentation img{
    right: 0;
    height: 180px;
  }
  .apresentation h1{
    margin-top: 0%;
    font-size: 1.2em;
  }
  .about-me h1{
    font-size: 1.2em;
  }
  .box{
    font-size: 0.8em;
    width: 340px;
  }
  .tecnologies{
    margin-left: 8%;
    margin-top: 100%;
  }
  .tecnologies h1{
    position: relative;
    left: -6.5%;
    font-size: 1.2em
  } 
  .tecnologies div{
    margin: 7px;
    width: 70px;
    height: 90px;
    font-size: 0.7em;
  }
  .services h1{
    font-size: 1.2em;
  }
  .container-services{
    margin-top: 17%;
    margin-left: -10%;
  }
  .container-services div{
    position: relative;
    left: 22%;
    transform: scale(130%);
    margin: 30px;
  }
  ul{
    font-size: 1.2em;
  }
}